.Films1{
    width: 15%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2928;
    border-radius: 5% 5% 5% 5%;
    color: white;
}

.Films1 img{
    width: 90%;
    height: 20em;
    display: flex;
}